<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New User</title>
  </head>
  <body>
    <div class="form">
      <h3>Start Idea Boxing!</h3>
        <div class="field-wrap">
          <%= form_for @user do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: "New User Name*" %>
        </div>
        <div class="field-wrap">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Choose a Password*" %><br>
          <p>* required field</p>
            <div class="button">
              <%= f.submit%>
              <% end %>
            </div>
        </div>
    </div>

  </body>
</html>
