<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="form">
      <!-- <h3>Create an Idea!</h3> -->
        <div class="field-wrap">
          <%= form_for [:admin, @image] do |f| %>
            <%= f.label :name, "Attach an Image" %><br>
            <%= f.text_field :name %>

            <%= f.label :url, "Link" %><br>
            <%= f.text_field :url %>
            <%= f.submit class: "sub-btn" %>
          <% end %>
        </div>
      </div>
  </body>
</html>
