<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="form">
      <!-- <h3>Create an Idea!</h3> -->
        <div class="field-wrap">
          <%= form_for [:admin, @image] do |f| %>
            <% if @image.image.exists? %>
            <%= image_tag  @image.image.url %>
            <% end %>
          <%= f.label :image, "Attach an Image" %><br />
          <%= f.file_field :image %>
          <%= f.submit %>
          <% end %>
        </div>
      </div>
  </body>
</html>
