  <body>
    Image Index
    <p><%= @images.each do |image| %></p>
    <p><%= image_tag image.image.url(:medium) %></p>
    <%=  %>
    <% end %>

    <%= link_to "Create Image", new_admin_image_path %>
    <%= link_to "Back to Admin Dashboard", admin_dashboard_index_path %>
  </body>
</html>
